body {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  background-color: #D8D8D8;
}

button {
  padding: 10px;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container, .succeed-container {
  width: 500px;
  text-align: center;
  background-color: #F2F2F2;
  padding: 10px 30px;
  border: solid 1px #000000;
  margin: auto;
  margin-top: 20px;
}

.succeed-container {
  text-align: left;
}

.succeed-container h1 {
  text-align: center;
}

.error-container {
  width: 530px;
  text-align: left;
  background-color: #F5A9A9;
  padding: 15px;
  border: solid 1px #000000;
  margin: auto;
  margin-top: 20px;
}
