/****************************/
/***** REGLAS GENERALES *****/
/****************************/

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(RGBA(0,0,0,0.5), RGBA(0,0,0,0.8));
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

body {
  background-image: url("../img/bg-body3.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0 auto;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 3.1em;
}

h2 {
  font-size: 1.1em;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  margin: 0;
}

input, select, textarea {
  font-size: 1em;
  width: 45%;
  height: 30px;
  color: #FFFFFF;
  text-align: center;
  background-color: RGBA(0, 0, 0, 0.8);
  border: solid 1px #BDBDBD;
  padding: 5px 5px 1px 5px;
  vertical-align: middle;
}

select {
  width: 35%;
}

textarea {
  height: auto;
  font-family: 'PT Sans', sans-serif;
}

input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus {
  background-color: #000000;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  width: 40%;
  background-color: RGBA(0, 0, 0, 0.8);
  border: solid 1px #BDBDBD;
  color: #FFFFFF;
  font-size: 1em;
  padding: 17px 0 15px 0;
  margin: 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:hover {
  background-color: #000000;
}

.content {
  width: 90%;
  background-color: RGBA(255, 255, 255, 0.15);
  border: solid 2px #000000;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.content h1 {
  margin: 10px 0;
}

.content h2 {
  margin: 10px 0 30px 0;
}

.error-content {
  width: 70%;
  font-size: 0.9em;
  background-color: RGBA(70, 0, 0, 0.6);
  border: solid 1px #DF0101;
  padding: 15px;
  margin: 15px auto;
  text-align: left;
}

.small-error-content {
  font-size: 0.9em;
  background-color: RGBA(70, 0, 0, 0.6);
  border: solid 1px #DF0101;
}

.succeed-content {
  font-size: 0.9em;
  background-color: RGBA(0, 70, 0, 0.6);
  border: solid 1px #1BBF1D;
}

.warn-content {
  font-size: 0.9em;
  background-color: RGBA(70, 70, 0, 0.6);
  border: solid 1px #F4FA58;
}

.small-error-content ul, .succeed-content, .warn-content {
  padding: 10px;
}

.form-error-content {
  background-color: RGBA(20, 0, 0, 0.6);
  border: solid 1px #DF0101;
}

.form-error-content:hover {
  background-color: RGBA(20, 0, 0, 0.7);
}

.form-error-content:focus {
  background-color: RGBA(20, 0, 0, 0.8);
}

.upload-img {
  width: 50%;
  height: auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

.upload-img:hover, .upload-img:focus {
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  color: #000000;
}

/***** HEADER *****/

.logo-query1 {
  margin: 20px auto;
  display: block;
}

.logo-query2 {
  display: none;
}

.toggle-nav {
 width: 100%;
 background-color: RGBA(0, 0, 0, 0.8);
 border-bottom: solid 1px #424242;
 display: block;
 text-align: center;
 padding: 5px 0;
}

.ion-chevron-down {
 font-size: 1.5em;
}

.main-nav {
 width: 100%;
 font-size: 1.2em;
 position: relative;
 overflow: hidden;
}

.main-nav > ul {
  display: none;
}

.main-nav .icon.left {
  margin-right: 15px;
  font-size: 1em;
}

.main-nav > ul > li > a {
  color: #FFFFFF;
  font-weight: normal;
  background-color: #2E2E2E;
  border-bottom: solid 1px #6E6E6E;
  border-top: solid 1px #000000;
  padding: 3%;
  margin: 0;
  display: block;
}

.main-nav > ul > li a:hover {
  background-color: #585858;
  text-decoration: none;
}

.search-bar-q1 {
  width: 100%;
  background-color: #424242;
  border-bottom: solid 1px #1C1C1C;
  border-top: solid 1px #000000;
  position: relative;
  overflow: hidden;
}

.search-bar-q1:hover {
  background-color: #585858;
}

.search-bar-q1 input {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: transparent;
  border: none;
  float: left;
}

.search-bar-q1 input:hover {
  border: none;
}

.search-bar-q2 {
  display: none;
}

/***** BODY *****/

/* SPACEBOXES */

.spaceboxes {
  width: 100%;
  padding: 0 1%;
}

.spaceboxes article {
  width: 48%;
  border: solid 2px #FFFFFF;
  margin: 1%;
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
}

.spacebox-name {
  width: 100%;
  height: 180px;
  font-size: 1.4em;
  text-align: center;
  display: block;
  overflow: hidden;
}

.spacebox-description {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.spacebox-description p {
  width: 100%;
  font-size: 0.7em;
  background-color: RGBA(0, 0, 0, 0.6);
  border-top: solid 1px #000000;
  padding: 7px;
  display: inline-block;
  margin: 0;
}

.spaceboxes h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spaceboxes article:hover h2 {
  font-size: 1.2em;
}

.spaceboxes .info {
  background-color: #3F3F3F;
}

.spaceboxes .loggeduser-spacebox {
  border: solid 2px #FFCA33;
}

.spaceboxes .loggeduser-spacebox h2 {
  color: #FFCA33;
}

.spacebox-preview article {
  width: 60%;
  border: solid 2px #FFFFFF;
  position: relative;
  display: block;
  margin: auto;
  text-align: left;
  overflow: hidden;
}

.spacebox-preview h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacebox-preview article:hover h2 {
  font-size: 1.2em;
}

/* FAQ.PHP */

.faq-cont {
  text-align: left;
}

.faq-cont h2 {
  margin: 0;
}

/* REGISTER.PHP */

.register-input-terms {
  width: auto;
}

/* LOGIN.PHP */

.login-input-remember {
  width: auto;
}

/* CREATESPACE.PHP */

.colors-cont {
  width: 80%;
  margin: auto;
}

.color {
  width: 30px;
  height: 30px;
  border: solid 1px #FFFFFF;
  margin: 2px;
  display: inline-block;
}

.color:hover {
  border: solid 2px #FFFFFF;
}

.color.active {
  border: solid 4px #FFFFFF;
}

/* SPACE.PHP */

.space-user-img {
  width: 60%;
  border: solid 1px #000000;
}

.space-newpost-cont {
  width: 95%;
  text-align: left;
  margin: auto;
}

.space-newpost-cont h3 {
  margin-bottom: 0;
}

.space-newpost-cont input, .space-newpost-cont textarea {
  text-align: left;
  width: 100% !important;
}

.space-post-cont {
  width: 95%;
  background-color: RGBA(0, 0, 0, 0.7);
  border: solid 1px #000000;
  padding: 10px 15px;
  margin: 25px auto 15px auto;
  text-align: left;
  position: relative;
}

.space-post-cont h2 {
  width: 93%;
  font-size: 1.3em;
  margin: 0;
}

.space-post-cont p {
  font-size: 0.9em;
}

.space-postdate {
  font-size: 0.8em;
  text-align: right;
}

.space-delete-post {
  font-size: 1.3em;
  color: #B40404;
  width: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -8px;
  right: 8px;
}

.space-delete-post:hover {
  color: #FE2E2E;
  background-color: transparent;
}

/* ACCOUNT.PHP */

.account-cont table {
  width: 80%;
  font-size: 1em;
  margin: 0 auto;
}

.account-cont td {
  width: 50%;
}

.account-cont tr {
  height: 30px;
}

.account-user-img {
  width: 60%;
  display: inline-block;
}

.account-user-img img {
  width: 100%;
  border: solid 1px #000000;
}

.account-cont input, .account-cont select {
  width: 100%;
  text-align: left;
}

/* EDITSPACE.PHP */

.editspace-cont table {
  width: 80%;
  font-size: 1em;
  margin: 0 auto;
}

.editspace-cont td {
  width: 50%;
}

.editspace-cont tr {
  height: 30px;
}

.editspace-cont input, .editspace-cont select, .editspace-cont textarea {
  width: 100%;
  text-align: left;
}

.editspace-colors-cont {
  width: 80%;
  margin: auto;
}

.editspace-actualcolor {
  width: 30px;
  height: 30px;
  border: solid 1px #FFFFFF;
  margin: 2px;
  display: inline-block;
}

.editspace-checkbox input {
  width: 25px;
}

/*****************/
/***** 600px *****/
/*****************/

@media (min-width: 600px) {

  input, textarea {
    width: 35%;
  }

  select {
    width: 30%;
  }

  button {
    width: 25%;
  }

  .content {
    width: 80%;
  }

  /***** BODY *****/

  /* SPACEBOXES */

  .spaceboxes article {
    width: 31.9333%;
    margin: 0.7%;
  }

  .spacebox-name {
    width: 100%;
    height: 175px;
  }

  /* EDITSPACE.PHP */

  .spacebox-preview article {
    width: 40%;
  }

}

/*****************/
/***** 900px *****/
/*****************/

@media (min-width: 900px) {

  input, textarea {
    width: 30%;
  }

  select {
    width: 25%;
  }

  button {
    width: 20%;
  }

  .content {
    width: 70%;
    margin-top: 100px;
  }

  ::-webkit-input-placeholder {
    color: #FFFFFF;
  }

  ::-moz-placeholder {
    color: #FFFFFF;
  }

  :-ms-input-placeholder {
    color: #FFFFFF;
  }

  :-moz-placeholder {
    color: #FFFFFF;
  }

  /***** HEADER *****/

  .logo-query1 {
    display: none;
  }

  .logo-query2 {
    display: inline-block;
    float: left;
    margin: 6px 0 6px 7px;
  }

  .toggle-nav {
    display: none;
  }

  .main-header {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    background-color: RGBA(0, 0, 0, 0.8);
    border: solid 1px #424242;
    box-shadow: 5px 5px 15px 5px RGBA(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    z-index: 10;
  }

  .main-nav {
    font-size: 1em;
    float: right;
    text-align: right;
    padding: 10px 0;
    width: auto;
  }

  .main-nav > ul {
    display: block !important;
  }

  .main-nav > ul > li {
    display: inline-block;
    position: relative;
  }

  .main-nav > ul > li > a {
    height: 40px;
    padding: 10px;
    margin-right: 3px;
    background-color: #2E2E2E;
    border: solid 1px #6E6E6E;
    vertical-align: middle;
  }

  .main-nav > ul > li > a:hover {
    background-color: #585858;
    border: solid 1px #A4A4A4;
  }

  .main-nav .icon.left {
    margin-right: 7px;
    font-size: 0.9em;
  }

  .search-bar-q2 {
    width: 130px;
    height: 40px;
    padding: 10px 0;
    margin-right: 9px;
    display: block;
    float: right;
    position: relative;
  }

  .search-bar-q2 input {
    width: 100px;
    height: 40px;
    font-size: 0.9em;
    padding: 10px;
    background-color: #2E2E2E;
    border: solid 1px #6E6E6E;
    border-right: none;
    text-align: left;
    float: left;
  }

  .search-bar-q2 input:hover {
    background-color: #424242;
    border: solid 1px #848484;
    border-right: none;
  }

  .search-bar-q2 input:focus {
    background-color: #585858;
    border: solid 1px #A4A4A4;
  }

  .search-bar-q2 button {
    width: 30px;
    height: 40px;
    font-size: 0.9em;
    background-color: #2E2E2E;
    border: solid 1px #6E6E6E;
    border-left: none;
    padding: 0;
    margin: 0;
    float: left;
    position: absolute;
  }

  .search-bar-q2 button:hover {
    background-color: #585858;
    border: solid 1px #A4A4A4;
    border-left: none;
  }

  .search-bar-q1 {
    display: none;
  }

  /***** BODY *****/

  /* SPACEBOXES */

  .spaceboxes {
    margin-top: 100px;
  }

  .spaceboxes article{
    width: 19%;
    margin: 0.5%;
  }

  .spacebox-description p {
    display: none;
  }

  .spaceboxes article:hover p {
    display: inline-block;
  }

  /* EDITSPACE.PHP */

  .spacebox-preview article {
    width: 32%;
  }

  .spacebox-preview article:hover p {
    display: inline-block;
  }

}

/*****************/
/***** 1200px ****/
/*****************/

@media (min-width: 1200px) {

  input, textarea {
    width: 35%;
  }

  select {
    width: 30%;
  }

  button {
    width: 25%;
  }

  .container {
    max-width: 1440px;
  }

  .content {
    width: 45%;
  }

  /***** BODY *****/

  /* SPACEBOXES */

  .spaceboxes article {
    width: 15.6666%;
  }

  /* EDITSPACE.PHP */

  .spacebox-preview article {
    width: 40%;
  }

}
